/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #F0F4FF;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #161a2d;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar:hover {
  width: 260px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 42px;
  border-radius: 50%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #4f52ba;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}
.main {
  margin-left: 85px; /* Đảm bảo có khoảng cách cho sidebar khi không hover */
  transition: margin-left 0.4s ease; /* Tạo hiệu ứng mượt khi sidebar mở rộng */
  padding: 20px; /* Khoảng cách cho nội dung chính */
  min-height: 100vh; /* Đảm bảo nội dung chính chiếm ít nhất toàn bộ chiều cao của cửa sổ */
  background: #fff; /* Màu nền cho nội dung chính */
  color: #333; /* Màu chữ mặc định */

  display: flex; /* Đặt bố cục theo hàng ngang */
  flex-direction: row; /* Sắp xếp các phần tử từ trái sang phải */
  
}

/* Khi sidebar mở rộng (hover), nội dung chính sẽ dịch sang phải */
.sidebar:hover + .main {
  margin-left: 260px; /* Khi sidebar mở rộng */
}

/* css của list friend */
.main_list{
  display: flex;
  flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
  align-items: flex-start; /* Căn chỉnh các phần tử theo chiều ngang (bên trái) */
  gap: 1em;
}
.main_friend {
  background-color: rgba(192,192,192);
  max-width: 250px;
  height: 40vh;
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 0;
  overflow-y: auto;
}
.main_group{
  background-color: rgba(192,192,192);
  max-width: 250px;
  height: 40vh; /* 50% chiều cao cửa sổ */
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  overflow-y: auto;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: lightgray;
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.spotify {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
}

.heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: limegreen;
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
  justify-self: center;
}

.albumcover {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  align-self: center;
  border-radius: 5px;
  
}
.albumcover img{
  display: block; /* Đảm bảo ảnh không bị ảnh hưởng bởi thuộc tính line-height */
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transform: rotate(180deg);
}
.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.artist-online {
  font-size: 0.6em;
  color: green;
}
.artist-offline {
  font-size: 0.6em;
  color: red;
}

@keyframes move6 {
  0% {
    height: 0.2em;
  }

  25% {
    height: 0.7em;
  }

  50% {
    height: 1.5em;
  }

  100% {
    height: 0.2em;
  }
}

/* css chat */
.card-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex: 1; /* Tự co giãn chiều rộng phù hợp */
  height: 100%; /* Kéo dài toàn bộ chiều cao màn hình */
  overflow-y: auto
}


.card-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  
  border-bottom: 1px solid #ccc;
}

.card-header .img-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #333;
}

.card-header .text-chat {
  color: black;
  margin: 0;
  font-size: 20px;
}

.card-body {
  flex: 1;
  overflow-y: auto;
}

.messages-container {
  display: flex;
  flex-direction: column;
  height: 70vh; /* Đặt chiều cao cố định */
  overflow-y: auto; /* Bật cuộn theo chiều dọc nếu nội dung vượt quá chiều cao */
  scroll-behavior: smooth
}

.message-box {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  
}

.message-box.left {
  background-color: #f1f1f1;
  color: black;
  font-size: 13px;
  left: 0;
  align-self: flex-start;
}

.message-box.right {
  background-color: #333;
  color: #fff;
  font-size: 13px;
  align-self: flex-end;
  right: 0;
}

.message-input {
  padding: 5px;
  border-top: 1px solid #ccc;
}

.message-input .message-send {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  resize: none;
}

.message-input .button-send {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 13px;
}

.message-input .button-send:hover {
  background-color: #f1f1f1;
  color: #333;
}
.video-icon {
  cursor: pointer;  /* Thêm cursor để biểu tượng video giống như một nút nhấn */
  margin-left: 10px;  /* Khoảng cách giữa biểu tượng video và tên chat */
}

/* button add group  */
/* From Uiverse.io by Yaya12085 */ 
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border-radius: calc(45px/2);
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
  margin-left: 60px;
}

/* plus sign */
.sign {
  width: 100%;
  font-size: 2.2em;
  color: white;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}

/* css của form create group */
/* From Uiverse.io by guilhermeyohan */ 
.login-box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #dde1e7;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color:#000000;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000000;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.button-create {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.button-create:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.button-create:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


/*FORM THÔNG BÁO */

#chat-container {
    height: 400px;
    overflow-y: auto;
    padding: 20px;
}

.message {
    display: flex;
    margin-bottom: 10px;
    max-width: 80%;
}

.message.sent {
    margin-left: auto;
    justify-content: flex-end;
}

.message.received {
    margin-right: auto;
    justify-content: flex-start;
}

.message-content {
    padding: 10px 15px;
    border-radius: 15px;
    position: relative;
}

.message.sent .message-content {
    background-color: #0084ff;
    color: white;
}

.message.received .message-content {
    background-color: #e4e6eb;
    color: black;
}

.message-content p {
    margin: 0;
    word-wrap: break-word;
}

.message-content .time {
    font-size: 0.75em;
    opacity: 0.7;
    margin-top: 5px;
    display: block;
}

.message.sent .time {
    text-align: right;
}

.message.received .time {
    text-align: left;
}

.message.call-history {
    margin: 10px auto;
    text-align: center;
}

.message.call-history .message-content {
    background-color: #f0f0f0;
    color: #666;
    padding: 5px 15px;
    border-radius: 15px;
    display: inline-block;
}

.message.call-history i {
    margin-right: 5px;
    color: #0084ff;
}

